{include file="/public/head"}
<body class="login-bg">
<div class="login layui-anim layui-anim-up">
    <div class="message">PHP中文网后台管理系统登录</div>
    <div id="darkbannerwrap"></div>

    <form method="post" class="layui-form">
        <input name="username" placeholder="用户名" type="text" id="username" lay-verify="required" class="layui-input">
        <hr class="hr15">
        <input name="password" lay-verify="required" placeholder="密码" id="password" type="password" class="layui-input">
        <hr class="hr15">
        <input value="登录" lay-submit lay-filter="login" style="width:100%;" type="submit">
        <hr class="hr20">
    </form>
</div>

<script>
    $(function () {
        layui.use('form', function () {
            var form = layui.form;

            //监听提交
            form.on('submit(login)', function (data) {
                $.post('{:url(\'DoLogin\')}', {
                    'username': $('#username').val(),
                    'password': $('#password').val()
                }, function (data) {
                    if (data.res == 1) {
                        layer.msg(data.msg, function () {
                            location.href = '{:url(\'Index/index\')}'
                        });
                    }
                    layer.msg(data.msg, function () {
                    });
                })

                return false;
            });
        });
    })
</script>
</body>
</html>